@{
    ViewData["Title"] = "Contact Page";
}

<div class="container mt-5" data-aos="zoom-in-up">
        <h4 class="mb-5 underlied-text" data-aos="zoom-in-down"><strong>Contact & Inquiry</strong></h4>
        <div class="storeInfo__wrapper mb-5">
            <div class="storeInfo__item">
                <img class="storeInfo__icon"
                    src="https://d33wubrfki0l68.cloudfront.net/4d9f5ac84201972450cc866ccfee0ae2fb4ad2fe/f4f2e/images/wall-clock-icon.svg"
                    alt="clock icon">
                <h3 class="storeInfo__title"> 9 AM - 10 PM </h3>
                <p class="storeInfo__text"> Opening Hour </p>
            </div>
            <div class="storeInfo__item">
                <img class="storeInfo__icon"
                    src="https://d33wubrfki0l68.cloudfront.net/c98678d730ee777c722aa6fc644e149ba86e74d4/240fe/images/address-icon.svg"
                    alt="clock icon">
                <h3 class="storeInfo__title"> Vietnam, Hanoi </h3>
                <p class="storeInfo__text"> Address </p>
            </div>
            <div class="storeInfo__item">
                <img class="storeInfo__icon"
                    src="https://d33wubrfki0l68.cloudfront.net/2d39cf6a442498142bd935a1ca5409ca5869e4be/e52ef/images/phone-icon.svg"
                    alt="clock icon">
                <h3 class="storeInfo__title"> + 28482434 </h3>
                <p class="storeInfo__text"> Call Now </p>
            </div>
        </div>
        <section class="vh-90">
            <div class="container wrapper_contact" data-aos="zoom-in-up">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1 form-contact">
                                    <form class="mx-1 mx-md-4 needs-validation" novalidate>
                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                                            <i class="fas fa-cubes me-3" style="color: #7ba178;"></i>
                                            Get In Touch
                                            </p>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-user fa-lg me-3 fa-fw" style="margin-top: 30px;"></i>
                                            <div class="flex-fill mb-0">
                                                <label for="validationTooltip01" class="form-label">Name</label>
                                                <input type="text" class="form-control" id="validationTooltip01"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-envelope fa-lg me-3 fa-fw" style="margin-top:
                                                30px;"></i>
                                            <div class="flex-fill mb-0">
                                                <label for="validationTooltip02" class="form-label">Email</label>
                                                <input type="text" class="form-control" id="validationTooltip02"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-phone fa-lg me-3 fa-fw" style="margin-top: 30px;"></i>
                                           
                                            <div class="flex-fill mb-0">
                                                <label for="validationTooltip03" class="form-label">Phone
                                                    number</label>
                                                <input type="text" class="form-control" id="validationTooltip03"
                                                    required>
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fas fa-text fa-lg me-3 fa-fw" style="margin-top: 30px;"></i>
                                            <div class="form-group flex-fill mb-0">
                                                <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
                                                <textarea class="form-control" id="exampleFormControlTextarea1"
                                                    rows="3"></textarea>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" class="btn btn-dark btn-lg"
                                                style="text-transform: none;">
                                                Send
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2 
                                    d-none d-lg-block" style="margin-top: auto; margin-bottom: auto;">
                                    <img src="~/images/banner/contact-banner-removebg-preview.png" class="img-fluid"
                                        asp-append-version="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>