@model Product
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<form action="/AdminPage/Edit" method="post">
    <div class="form-horizontal">
        <h4 class="text-center">Edit Product</h4>
        <hr class="w-75 mx-auto mt-4" />
        <div class="form-group row justify-content-center mt-5">
            <label class="col-sm-2 col-form-label" for="ProductName">Name</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="ProductName" name="ProductName" placeholder="Name"
                    asp-for="ProductName" />
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductName"
                    data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label class="col-sm-2 col-form-label" for="ProductDescription">Description</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="ProductDescription" name="ProductDescription"
                    placeholder="Description" asp-for="ProductDescription" />
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductDescription"
                    data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label class="col-sm-2 col-form-label" for="ProductBrand">Brand</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="ProductBrand" name="ProductBrand" placeholder="Brand"
                    asp-for="ProductBrand" />
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductBrand"
                    data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label class="col-sm-2 col-form-label" for="ProductMaterial">Material</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="ProductMaterial" name="ProductMaterial"
                    placeholder="Material" asp-for="ProductMaterial" />
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductMaterial"
                    data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label class="col-sm-2 col-form-label" for="ProductPrice">Price (VND)</label>
            <div class="col-sm-8 input-group">
                <input class="form-control" aria-label="Amount (to the nearest dollar)" type="number" id="ProductPrice"
                    name="ProductPrice" placeholder="Price" asp-for="ProductPrice" />
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductPrice"
                    data-valmsg-replace="true"></span>
                <span class="input-group-text">VND</span>
                <span class="input-group-text">0.00</span>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label class="col-sm-2 col-form-label" for="ProductImage">Image</label>
            <div class="col-sm-8 input-group">
                <input class="form-control" type="file" id="ProductImage"
                    name="ProductImage" placeholder="Price" asp-for="ProductImage" />
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductPrice"
                    data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label class="col-sm-2 col-form-label" for="CategoryId">Category</label>
            <div class="col-sm-8 input-group">
                @* <input class="form-control input-group-text" type="text" for="inputGroupSelect01"
                    id="ProductMaterial"
                    name="ProductMaterial" placeholder="Material" asp-for="ProductMaterial" /> *@
                <select class="form-select form-control" id="CategoryId"
                    name="CategoryId" placeholder="Category" asp-for="CategoryId">
                    <option selected>Choose...</option>
                    <option value="1">Shirts</option>
                    <option value="2">Pants</option>
                    <option value="3">Hats</option>
                    <option value="4">Watches</option>
                    <option value="5">Rings</option>
                    <option value="6">Glasses</option>
                    <option value="7">Bags</option>
                </select>
                <span class="text-danger field-validation-valid" data-valmsg-for="ProductMaterial"
                    data-valmsg-replace="true"></span>
            </div>
        </div>

        <!-- Markup removed for brevity -->
        <div class="form-group row">
            <button type="submit" class="btn btn-outline-light p-3 mt-3 mx-auto" style="width: 15%;">Update</button>
        </div>
    </div>
</form>