  :root {
    --blue: #5E50F9;
    --indigo: #6610f2;
    --purple: #6a008a;
    --pink: #E91E63;
    --red: #f96868;
    --orange: #f2a654;
    --yellow: #f6e84e;
    --green: #46c35f;
    --teal: #58d8a3;
    --cyan: #57c7d4;
    --white: #ffffff;
    --gray: #6c757d;
    --gray-dark: #12151e;
    --blue: #5E50F9;
    --indigo: #6610f2;
    --purple: #6a008a;
    --pink: #E91E63;
    --red: #f96868;
    --orange: #f2a654;
    --yellow: #f6e84e;
    --green: #46c35f;
    --teal: #58d8a3;
    --cyan: #57c7d4;
    --white: #ffffff;
    --gray: #434a54;
    --gray-light: #aab2bd;
    --gray-lighter: #e8eff4;
    --gray-lightest: #e6e9ed;
    --black: #000000;
    --primary: #0090e7;
    --secondary: #e4eaec;
    --success: #00d25b;
    --info: #8f5fe8;
    --warning: #ffab00;
    --danger: #fc424a;
    --light: #ffffff;
    --dark: #0d0d0d;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  footer,
  header,
  main,
  nav {
    display: block;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: #fff;
  }

  .table,
  .jsgrid .jsgrid-table {
    width: 100%;
    margin-bottom: 1rem;
    color: #ffffff;
  }

  .table th,
  .jsgrid .jsgrid-table th,
  .table td,
  .jsgrid .jsgrid-table td {
    padding: 0.9375rem;
    vertical-align: top;
    border-top: 1px solid #2c2e33;
  }

  .table thead th,
  .jsgrid .jsgrid-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #2c2e33;
  }

  .table tbody+tbody,
  .jsgrid .jsgrid-table tbody+tbody {
    border-top: 2px solid #2c2e33;
  }

  .table-sm th,
  .table-sm td {
    padding: 0.3rem;
  }

  .table-bordered {
    border: 1px solid #2c2e33;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #2c2e33;
  }

  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }

  .table-borderless th,
  .table-borderless td,
  .table-borderless thead th,
  .table-borderless tbody+tbody {
    border: 0;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #000000;
  }

  .table-hover tbody tr:hover {
    color: #212529;
    background-color: #000000;
  }

  .table-primary,
  .table-primary>th,
  .table-primary>td {
    background-color: #0084d5;
  }

  .table-primary th,
  .table-primary td,
  .table-primary thead th,
  .table-primary tbody+tbody {
    border-color: #7ac5f3;
  }

  .table-hover .table-primary:hover {
    background-color: #0074bc;
  }

  .table-hover .table-primary:hover>td,
  .table-hover .table-primary:hover>th {
    background-color: #0074bc;
  }

  .table-secondary,
  .table-secondary>th,
  .table-secondary>td {
    background-color: #d2d7d9;
  }

  .table-secondary th,
  .table-secondary td,
  .table-secondary thead th,
  .table-secondary tbody+tbody {
    border-color: #f1f4f5;
  }

  .table-hover .table-secondary:hover {
    background-color: #c4cbcd;
  }

  .table-hover .table-secondary:hover>td,
  .table-hover .table-secondary:hover>th {
    background-color: #c4cbcd;
  }

  .table-success,
  .table-success>th,
  .table-success>td {
    background-color: #00c154;
  }

  .table-success th,
  .table-success td,
  .table-success thead th,
  .table-success tbody+tbody {
    border-color: #7ae8aa;
  }

  .table-hover .table-success:hover {
    background-color: #00a849;
  }

  .table-hover .table-success:hover>td,
  .table-hover .table-success:hover>th {
    background-color: #00a849;
  }

  .table-info,
  .table-info>th,
  .table-info>td {
    background-color: #8457d5;
  }

  .table-info th,
  .table-info td,
  .table-info thead th,
  .table-info tbody+tbody {
    border-color: #c5acf3;
  }

  .table-hover .table-info:hover {
    background-color: #7543d0;
  }

  .table-hover .table-info:hover>td,
  .table-hover .table-info:hover>th {
    background-color: #7543d0;
  }

  .table-warning,
  .table-warning>th,
  .table-warning>td {
    background-color: #eb9d00;
  }

  .table-warning th,
  .table-warning td,
  .table-warning thead th,
  .table-warning tbody+tbody {
    border-color: #ffd37a;
  }

  .table-hover .table-warning:hover {
    background-color: #d28c00;
  }

  .table-hover .table-warning:hover>td,
  .table-hover .table-warning:hover>th {
    background-color: #d28c00;
  }

  .table-danger,
  .table-danger>th,
  .table-danger>td {
    background-color: #e83d44;
  }

  .table-danger th,
  .table-danger td,
  .table-danger thead th,
  .table-danger tbody+tbody {
    border-color: #fd9da1;
  }

  .table-hover .table-danger:hover {
    background-color: #e5262e;
  }

  .table-hover .table-danger:hover>td,
  .table-hover .table-danger:hover>th {
    background-color: #e5262e;
  }

  .table-light,
  .table-light>th,
  .table-light>td {
    background-color: #ebebeb;
  }

  .table-light th,
  .table-light td,
  .table-light thead th,
  .table-light tbody+tbody {
    border-color: white;
  }

  .table-hover .table-light:hover {
    background-color: #dedede;
  }

  .table-hover .table-light:hover>td,
  .table-hover .table-light:hover>th {
    background-color: #dedede;
  }

  .table-dark,
  .table-dark>th,
  .table-dark>td {
    background-color: #0c0c0c;
  }

  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody+tbody {
    border-color: #818181;
  }

  .table-hover .table-dark:hover {
    background-color: black;
  }

  .table-hover .table-dark:hover>td,
  .table-hover .table-dark:hover>th {
    background-color: black;
  }

  .table-active,
  .table-active>th,
  .table-active>td {
    background-color: rgba(0, 0, 0, 0.075);
  }

  .table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  .table-hover .table-active:hover>td,
  .table-hover .table-active:hover>th {
    background-color: rgba(0, 0, 0, 0.075);
  }

  .table .thead-dark th,
  .jsgrid .jsgrid-table .thead-dark th {
    color: #fff;
    background-color: #212529;
    border-color: #454d55;
  }

  .table .thead-light th,
  .jsgrid .jsgrid-table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #2c2e33;
  }

  .table-dark {
    color: #fff;
    background-color: #212529;
  }

  .table-dark th,
  .table-dark td,
  .table-dark thead th {
    border-color: #454d55;
  }

  .table-dark.table-bordered {
    border: 0;
  }

  .table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075);
  }

  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .form-inline .form-check {
    width: 100%;
  }

  .align-items-stretch {
    align-items: stretch !important;
  }

  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  /* Fonts */
  @font-face {
    font-family: 'Rubik';
    font-weight: 300;
    src: url("../fonts/Rubik/Rubik-Light.ttf");
    /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Rubik';
    font-weight: 400;
    src: url("../fonts/Rubik/Rubik-Regular.ttf");
    /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Rubik';
    font-weight: 500;
    src: url("../fonts/Rubik/Rubik-Medium.ttf");
    /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'Rubik';
    font-weight: 700;
    src: url("../fonts/Rubik/Rubik-Bold.ttf");
    /* IE9 Compat Modes */
  }

  .sidebar-grdient-dark {
    background: #6a008a;
    background: -moz-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #6a008a), color-stop(20%, #6a008a), color-stop(100%, #fa0053));
    background: -webkit-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
    background: -o-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
    background: -ms-linear-gradient(top, #6a008a 0%, #6a008a 20%, #fa0053 100%);
    background: linear-gradient(to bottom, #6a008a 0%, #6a008a 20%, #fa0053 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a008a', endColorstr='#fa0053', GradientType=0);
    color: #ffffff;
  }

  body {
    font-size: 1rem;
    font-weight: normal;
    font-weight: initial;
    line-height: 1.5;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-weight: 500;
  }

  p {
    font-size: 0.875rem;
  }

  h1,
  .h1 {
    font-size: 2.19rem;
  }

  h2,
  .h2 {
    font-size: 1.875rem;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
  }

  h4,
  .h4 {
    font-size: 1.125rem;
  }

  h5,
  .h5 {
    font-size: 1rem;
  }

  h6,
  .h6 {
    font-size: 0.9375rem;
  }

  p {
    font-size: 0.875rem;
  }

  .display-1 {
    font-size: 3.75rem;
  }

  @media (max-width: 991px) {
    .display-1 {
      font-size: 3rem;
    }
  }

  .display-2 {
    font-size: 3.125rem;
  }

  @media (max-width: 991px) {
    .display-2 {
      font-size: 2.5rem;
    }
  }

  .display-3 {
    font-size: 2.5rem;
  }

  @media (max-width: 991px) {
    .display-3 {
      font-size: 2rem;
    }
  }

  .display-4 {
    font-size: 1.875rem;
  }

  @media (max-width: 991px) {
    .display-4 {
      font-size: 1.5rem;
    }
  }

  .display-5 {
    font-size: 1.25rem;
  }

  @media (max-width: 991px) {
    .display-5 {
      font-size: 1rem;
    }
  }

  body,
  html {
    overflow-x: hidden;
    padding-right: 0 !important;
    background-color: #191c24;
  }

  *:-moz-full-screen,
  *:-webkit-full-screen,
  *:fullscreen *:-ms-fullscreen {
    overflow: auto;
  }

  /* Footer */
  .footer {
    background: #000000;
    padding: 20px 1rem;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    font-size: calc(0.875rem - 0.05rem);
    font-weight: 300;
  }

  .footer a {
    color: #00d25b;
    font-size: inherit;
  }

  @media (max-width: 991px) {
    .footer {
      margin-left: 0;
      width: 100%;
    }
  }

  /* Tables */
  .table,
  .jsgrid .jsgrid-table {
    margin-bottom: 0;
    color: #6c7293;
  }

  .table thead th,
  .jsgrid .jsgrid-table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 500;
    color: #6c7293;
  }

  .table thead th i,
  .jsgrid .jsgrid-table thead th i {
    margin-left: 0.325rem;
  }

  .table th,
  .jsgrid .jsgrid-table th,
  .table td,
  .jsgrid .jsgrid-table td {
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1;
    white-space: nowrap;
  }

  .table th img,
  .jsgrid .jsgrid-table th img,
  .table td img,
  .jsgrid .jsgrid-table td img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }

  .table th .badge,
  .jsgrid .jsgrid-table th .badge,
  .table td .badge,
  .jsgrid .jsgrid-table td .badge {
    margin-bottom: 0;
  }

  .table.table-borderless,
  .jsgrid .table-borderless.jsgrid-table {
    border: none;
  }

  .table.table-borderless tr,
  .jsgrid .table-borderless.jsgrid-table tr,
  .table.table-borderless td,
  .jsgrid .table-borderless.jsgrid-table td,
  .table.table-borderless th,
  .jsgrid .table-borderless.jsgrid-table th {
    border: none;
  }

  .table .table-dark,
  .jsgrid .jsgrid-table .table-dark {
    background: #212529;
  }

  .table.table-contextual,
  .jsgrid .table-contextual.jsgrid-table {
    color: #ffffff;
  }

  .nav-tabs .nav-link {
    background: #000000;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #2c2e33;
    padding: .75rem 1.5rem;
  }

  .nav-tabs.nav-tabs-vertical-custom .nav-link {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.2);
    color: #00314e;
    font-weight: 700;
    padding: 1.75rem;
  }

  .nav-pills .nav-item {
    margin-right: 1rem;
  }

  .nav-pills.nav-pills-custom .nav-link {
    border-radius: 20px;
    padding: .5rem 2.5rem;
    background: #8489ab;
    color: #000;
  }

  /* Navbar */
  .navbar {
    font-weight: normal;
    background: #191c24;
    left: 244px;
    transition: left 0.25s ease;
    -webkit-transition: left 0.25s ease;
    -moz-transition: left 0.25s ease;
    -ms-transition: left 0.25s ease;
  }


  .navbar .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #191c24;
    width: 244px;
    height: 70px;
  }

  .navbar .navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    box-shadow: 20px 19px 34px -15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 20px 19px 34px -15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 20px 19px 34px -15px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 70px;
  }

  .navbar .navbar-menu-wrapper .count-indicator .count-number {
    min-width: 14px;
    height: 14px;
    font-size: .5rem;
    color: #ffffff;
    bottom: 16px;
    right: -5px;
    line-height: 1;
    text-align: center;
  }

  .navbar .navbar-menu-wrapper .count-indicator:after {
    display: none;
  }

  .navbar .navbar-menu-wrapper .count-indicator .count {
    position: absolute;
    left: 66%;
    width: 7px;
    height: 7px;
    color: #ffffff;
    border-radius: 100%;
    text-align: center;
    font-size: .625rem;
    line-height: 1.5;
    top: 7px;
  }

  .navbar .navbar-menu-wrapper .navbar-nav {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    color: inherit;
    font-size: 0.9375rem;
    margin-left: 1rem;
    margin-right: 1rem;
    white-space: nowrap;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
    font-size: 1.125rem;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile {
    display: flex;
    font-weight: normal;
    align-items: center;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile .navbar-profile-name {
    white-space: nowrap;
    margin-left: 1rem;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .navbar-profile i {
    color: #a7afb7;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.create-new-button {
    padding: 0.375rem 0.75rem;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
    line-height: 1rem;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
    color: #0090e7;
    font-size: 1rem;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
    border: none;
    border-radius: 4px;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
    position: absolute;
    font-size: 0.9rem;
    margin-top: 0;
    top: 48px;
    right: 0;
    left: auto;
    -webkit-box-shadow: 0px 0px 35px -3px black;
    -moz-box-shadow: 0px 0px 35px -3px black;
    box-shadow: 0px 0px 35px -3px black;
    padding: 0;
  }

  .rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
    right: auto;
    left: 0;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item {
    margin-bottom: 0;
    padding: 11px 13px;
    cursor: pointer;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item:hover {
    color: #fff;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item i {
    font-size: 17px;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item .ellipsis {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .rtl .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item i {
    margin-left: 10px;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-divider {
    margin: 0;
  }

  @media (max-width: 991px) {
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
      position: static;
    }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
      left: 20px;
      right: 20px;
      top: 70px;
      width: calc(100% - 40px);
    }
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img {
    position: relative;
    width: 32px;
    height: 32px;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }

  .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img .availability-status {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #ffffff;
    bottom: 5px;
    right: -5px;
  }

  /* Sidebar */
  .sidebar {
    min-height: calc(100vh - 70px);
    background: #191c24;
    font-weight: normal;
    padding: 0;
    width: 244px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
  }

  .sidebar .sidebar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #191c24;
    width: 244px;
    height: 70px;
  }

  @media (max-width: 991px) {
    .sidebar .sidebar-brand-wrapper {
      width: 55px;
    }
  }

  .sidebar .sidebar-brand-wrapper .sidebar-brand {
    color: #38425e;
    font-size: 1.5rem;
    line-height: 48px;
    margin-right: 0;
    padding: 25px;
    width: 100%;
  }

  .sidebar .sidebar-brand-wrapper .sidebar-brand:active,
  .sidebar .sidebar-brand-wrapper .sidebar-brand:focus,
  .sidebar .sidebar-brand-wrapper .sidebar-brand:hover {
    color: #252b3e;
  }

  .sidebar .sidebar-brand-wrapper .sidebar-brand img {
    width: calc(244px - 120px);
    max-width: 100%;
    height: 28px;
    margin: auto;
    vertical-align: middle;
  }

  .sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini {
    display: none;
  }

  .sidebar .sidebar-brand-wrapper .sidebar-brand.brand-logo-mini img {
    width: calc(70px - 50px);
    max-width: 100%;
    height: 28px;
    margin: auto;
  }

  .sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;
    padding-top: 70px;
  }

  .sidebar .nav .nav-item {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
    padding-right: 20px;
  }

  .sidebar .nav .nav-item .collapse {
    z-index: 999;
  }

  .sidebar .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 0.8rem 10px 0.8rem 1.188rem;
    color: #6c7293;
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
    height: 46px;
    border-radius: 0px 100px 100px 0px;
    text-decoration: none;
  }

  .sidebar .nav .nav-item .nav-link i {
    color: inherit;
  }

  .sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 1rem;
    line-height: 1;
    margin-left: auto;
    color: #bba8bff5;
  }

  .rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
    margin-left: 0;
    margin-right: auto;
  }

  .sidebar .nav .nav-item .nav-link i.menu-icon:before {
    vertical-align: middle;
  }

  .sidebar .nav .nav-item .nav-link i.menu-arrow {
    font: normal normal normal 24px/1 "Material Design Icons";
    line-height: 1;
    font-size: 1rem;
    margin-left: auto;
    color: rgba(108, 114, 147, 0.36);
  }

  .rtl .sidebar .nav .nav-item .nav-link i.menu-arrow {
    margin-left: 0;
    margin-right: auto;
  }

  .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
    content: "\f140";
    font-size: inherit;
    color: inherit;
  }

  .sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 0.9375rem;
    line-height: 1;
    vertical-align: middle;
  }

  .sidebar .nav .nav-item .nav-link .badge {
    margin-right: auto;
    margin-left: 1rem;
  }

  .sidebar .nav .nav-item.active>.nav-link {
    background: #0f1015;
    position: relative;
  }

  .sidebar .nav .nav-item.active>.nav-link:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #0090e7;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .sidebar .nav .nav-item.active>.nav-link .menu-title {
    color: #ffffff;
  }

  .sidebar .nav .nav-item.active>.nav-link i {
    color: #ffffff;
  }

  .sidebar .nav .nav-item.nav-profile .nav-link {
    height: auto;
    line-height: 1;
    border-top: 0;
    padding: 1.25rem 0;
  }

  .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image {
    width: 44px;
    height: 44px;
  }

  .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-image img {
    width: 44px;
    height: 44px;
    border-radius: 100%;
  }

  .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
    margin-left: 1rem;
  }

  .rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-text {
    margin-left: auto;
    margin-right: 1rem;
  }

  .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
    font-size: 1.125rem;
    margin-left: auto;
  }

  .rtl .sidebar .nav .nav-item.nav-profile .nav-link .nav-profile-badge {
    margin-left: 0;
    margin-right: auto;
  }

  .sidebar .nav .nav-item.sidebar-actions {
    margin-top: 1rem;
  }

  .sidebar .nav .nav-item.sidebar-actions .nav-link {
    border-top: 0;
    display: block;
    height: auto;
  }

  .sidebar .nav .nav-item.sidebar-actions:hover {
    background: initial;
  }

  .sidebar .nav .nav-item.sidebar-actions:hover .nav-link {
    color: initial;
  }

  .sidebar .nav .nav-item.profile {
    padding-right: 0px;
  }

  .rtl .sidebar .nav .nav-item.profile {
    padding-right: 10px;
  }

  .sidebar .nav .nav-item.profile .profile-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.17rem;
    line-height: 1.25;
  }

  .sidebar .nav .nav-item.profile .profile-desc .profile-name {
    margin-left: 1rem;
  }

  .rtl .sidebar .nav .nav-item.profile .profile-desc .profile-name {
    margin-left: 0;
    margin-right: 1rem;
  }

  .sidebar .nav .nav-item.profile .profile-desc .profile-name span {
    font-size: 12px;
    color: #6c7293;
    white-space: nowrap;
  }

  .sidebar .nav .nav-item.profile .profile-desc .profile-name h5 {
    white-space: nowrap;
  }

  .sidebar .nav .nav-item.profile .profile-desc .profile-pic {
    display: flex;
    align-items: center;
  }

  .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator {
    position: relative;
  }

  .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-symbol,
  .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-number {
    position: absolute;
    border-radius: 100%;
    border: 2px solid #191c24;
  }

  .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-symbol {
    top: 17px;
    right: -3px;
    width: 10px;
    height: 10px;
  }

  .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count-number {
    min-width: 14px;
    height: 14px;
    font-size: .5rem;
    color: #ffffff;
    bottom: 16px;
    right: -5px;
    line-height: 1;
    text-align: center;
  }

  .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator:after {
    display: none;
  }

  .sidebar .nav .nav-item.profile .profile-desc .profile-pic .count-indicator .count {
    position: absolute;
    left: 66%;
    width: 10px;
    height: 10px;
    color: #ffffff;
    border-radius: 100%;
    text-align: center;
    font-size: .625rem;
    line-height: 1.5;
    top: 26px;
    border: 2px solid #2c2e33;
  }

  .sidebar .nav .nav-item.profile .profile-desc .mdi-dots-vertical {
    font-size: 20px;
    color: #6c7293;
  }

  .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu {
    padding: 0;
    margin-top: 1.25rem;
  }

  .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item {
    padding: 11px 13px;
  }

  .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item {
    align-items: center;
  }

  .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item .preview-thumbnail .preview-icon {
    width: 30px;
    height: 30px;
  }

  .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item.preview-item .preview-thumbnail .preview-icon i {
    font-size: 0.875rem;
  }

  .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-item:hover {
    color: inherit;
  }

  .sidebar .nav .nav-item.profile .profile-desc .dropdown-menu .dropdown-divider {
    margin: 0;
  }

  .sidebar .nav .nav-item.nav-category {
    padding: 0.5rem 1.188rem;
    line-height: 1;
  }

  .sidebar .nav .nav-item.nav-category .nav-link {
    color: #6c7293;
    font-weight: 500;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    padding-left: 0;
  }

  .sidebar .nav .nav-item .menu-icon {
    margin-right: 0.5rem;
    font-size: 0.8125rem;
    line-height: 1;
    background: rgba(108, 114, 147, 0.2);
    width: 31px;
    height: 31px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

  .sidebar .nav .nav-item .menu-icon i {
    font-size: 0.875rem;
  }

  .sidebar .nav.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 0 0 3.25rem;
    list-style: none;
  }

  .sidebar .nav.sub-menu .nav-item {
    padding: 0;
  }

  .sidebar .nav.sub-menu .nav-item .nav-link {
    color: #6c7293;
    padding: 0.5rem 0.35rem;
    position: relative;
    font-size: 0.855rem;
    line-height: 1;
    height: auto;
    border-top: 0;
  }

  .sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: #ffffff;
    background: transparent;
  }

  .sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #ffffff;
  }

  .sidebar .nav.sub-menu .nav-item:hover {
    background: transparent;
  }

  .sidebar .nav:not(.sub-menu)>.nav-item:hover:not(.nav-category):not(.account-dropdown)>.nav-link {
    background: #0f1015;
    color: #ffffff;
  }

  .sidebar .nav .menu-items:nth-child(5n+1) .nav-link .menu-icon i {
    color: #0090e7;
  }

  .sidebar .nav .menu-items:nth-child(5n+2) .nav-link .menu-icon i {
    color: #00d25b;
  }

  .sidebar .nav .menu-items:nth-child(5n+3) .nav-link .menu-icon i {
    color: #8f5fe8;
  }

  .sidebar .nav .menu-items:nth-child(5n+4) .nav-link .menu-icon i {
    color: #ffab00;
  }

  .sidebar .nav .menu-items:nth-child(5n+5) .nav-link .menu-icon i {
    color: #fc424a;
  }

  */ .page-body-wrapper {
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.25s ease;
    width: calc(100% - 244px);
  }

  .page-body-wrapper.full-page-wrapper {
    width: 100%;
    min-height: 100vh;
  }

  @media (max-width: 992px) {
    .page-body-wrapper {
      width: 100%;
    }
  }

  .container-scroller {
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: 100%;
    min-height: calc(100vh - 70px);
    padding-top: 70px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  @media (max-width: 991px) {
    .main-panel {
      margin-left: 0;
      width: 100%;
    }
  }

  .content-wrapper {
    background: #000000;
    padding: 1.875rem 1.75rem;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }

  /* evon snippet */
  .dropdown {
    position: relative;
    width: 100%;
    max-width: 300px;
    font-family: "Poppins", sans-serif;
    --spacing: 20px;
    --radius: 8px;
    --padding: 15px;
    --border: #eee;
  }

  .dropdown-select {
    padding: var(--padding);
    border-radius: var(--radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 12px;
    transition: all 0.2s linear;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .dropdown:hover .dropdown-select {
    border-color: #6a5af9;
    box-shadow: 0 0 0 2px rgba(106, 90, 249, 0.5);
  }

  .dropdown-list {
    position: absolute;
    top: calc(100% + var(--spacing));
    left: 0;
    width: 100%;
    z-index: 10;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    background-color: #333741;
    padding: 10px;
  }

  .dropdown-list:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--spacing);
    transform: translateY(-100%);
    background-color: transparent;
    opacity: 0;
  }

  .dropdown-item {
    padding: var(--padding);
    cursor: pointer;
    font-size: 12px;
    color: white;
    border-radius: inherit;
  }

  .dropdown-item:hover {
    background-color: #6c7293;
  }

  .dropdown:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
  }